
body {
    margin:0;
    background-color: rgb(246,246,248);
    font-family: fira-sans, sans-serif;
    font-style: normal;
    font-weight: 200;
    color:rgb(246,246,248);
}

[class*="col-"] {
    float: left;
    margin: 0;
}

.col-1 {width: 16.6%;}
.col-2 {width: 33.3%;}
.col-3 {width: 50%;}
.col-4 {width: 66.6%;}
.col-5 {width: 83.3%;}
.col-6 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}



h1 {
    width:100%;
    background-color: rgb(109,207,246);
    color: rgb(1,23,92);
    margin:0;
    padding-top:.5%;
    font-weight: 200;
    font-style: italic;
    float:left;
}

h3 {
    font-style: italic;
    font-weight: 400;
    color: rgb(1,23,92);
}

h2 {
   color: rgb(1,23,92);
    font-style: italic;
    font-weight: 400;
    margin-left: 5%;
    margin-bottom:0;
}

a {
    text-decoration: none;
}

.nav-bar {
    float:right;
    display: inline-block;
    width:100%;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(109,207,246);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

ul {
    list-style-type: none;
    margin:0
}

li {
    width: 33%;
    float:right;
}

li a {
    display: block;
    color: rgb(246,245,247);
    text-align: center;
    padding-left:15%;
    padding-right:15%;
    text-decoration: none;
}

li a:hover {
  background-color: rgb(1,23,92);
  color: rgb(246,245,247);
  text-decoration: none;
}

.hero-image {
    width: 100%;
}

.specialization-icons {
    margin-top:6%;
    margin-bottom: 5%;
}

.bio-image {
    float: left;
    background-color: rgb(1,23,92);
    margin-left: 0;
    margin-bottom:0;
 }

.bio-text {
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
    padding: 3%;
}

.bio-figure {
    box-sizing: border-box;
    background-color: rgb(1,23,92);
    margin-bottom: 8%;
}

.book-section img:hover {
    content: url('book-hover.jpg');
    z-index:1;
}

.book-section {
    width:100%;
    text-align: center;
    box-sizing: border-box;
    padding: 2%;
    margin-bottom: 5%;
    background-color: rgb(1,23,92);
}

.book-section img {
    width:50%;
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.6);
}

.article-section {
    width: 75%;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    background-color: rgb(1,23,92);
    float: left;
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.4);
    padding-top: 2%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 2%;
}

.article-section img{
    width:75%;
}

#article-1-hover:hover {
    content: url('article-icon-1-hover.jpg');
    z-index:1;
}

#article-2-hover:hover {
    content: url('article-icon-2-hover.jpg');
    z-index:1;
}

#article-3-hover:hover {
    content: url('article-icon-3-hover.jpg');
    z-index:1;
}

.form-section {
    background-color: rgb(109,207,246);
    margin: 0;
    border-bottom: 1px solid rgb(246,245,247);
    margin-top:3%;
    color:rgb(1,23,92);
    box-sizing: border-box;
    width:100%;
}


.form-section form {
    width: 75%;
    margin: 5% 18%;
    box-sizing: border-box;
    padding: 2% 0;
}

input[type=text] {
    border: 1px rgb(246,245,247);
    border-radius: 4px;
    background-color: rgb(246,245,247);
    width: 80%;
    padding: 0.5%;
}

form textarea {
    border: 1px rgb(246,245,247);
    border-radius: 4px;
    background-color: rgb(246,245,247);
    width: 80%;
    height: 100px;
}

input[type=submit] {
  margin-top: 20px;
  border: 1px rgb(246,245,247);
  border-radius: 4px rgb(246,245,247);
  background-color: rgb(246,245,247);
  color: rgb(1,23,92);
  padding: 8px;
}

input[type=submit]:hover {
    background-color: rgba(1,23,92,0.8);
}

footer {
    background-color: rgb(109,207,246);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    color:rgb(1,23,92);
}

footer img {
    width: 15%;
    float:right;
    margin-right:5%;
}

footer img:hover {
    content:url("linkedin-logo-hover.png");
}


@media screen and (min-width: 500px) {
.book-section {
    width:75%;
    margin-left: 12.5%;
    text-align: center;
    box-sizing: border-box;
    padding: 2%;
    margin-bottom: 5%;
}
.specialization-icons {
    width: 75%;
    margin-left: 12.5%;
}
 .hero-image {
    content: url("desktop-hero-image.jpg");
  }
footer img {
    width: 10%;
    float:right;
    margin-right:5%;
}
h1 {
    width:20%;
}
li {
    width:10%;
}
li a {
    padding:10%;
}
}



@media screen and (min-width: 1000px) {  
  .hero-image {
    content: url("desktop-hero-image.jpg");
  }
.bio-image {
    content: url("desktop-bio-image.jpg");
    width: 15%;
    padding-left:15%;
  }
.bio-text {
    padding-right: 10%;
}
.bio-figure {
    margin-top:5%;
    box-shadow: 5px 0px 20px 0 rgba(0, 0, 0, 0.6);
}
.specialization-icons {
    width: 33%;
    margin-left: 33%;
}
.book-section {
    width:33%;
    margin-left: 33%;
    text-align: center;
    box-sizing: border-box;
    padding: 2%;
    margin-bottom: 5%;
}

.book-section img {
    width:40%;
}

.article-section {
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    float: leftç
    padding-top: 2%;
    margin:0;
}

.article-section:first-child {
    margin-left: 10%;
    margin-right: 2.5%;
}

.article-section:last-child {
    margin-left: 2.5%;
}
footer img {
    width: 4%;
    float:right;
    margin-right:5%;
}
input[type=text] {
    width: 40%;
}

}